html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #abd2fa;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  max-width: 900px;
  text-align: center;
}
header, footer {
  background-color: #091540;
  color: #abd2fa;
  text-align: center;
  padding-top: 0px;
}

.header {
  font-size: 15px;
}
hr {
  background-color: black;
  height: 2px;
}
ul, ol {
  list-style-position: inside;
}

a: link {color: blue}
a: :visited {color: purple}
a: hover {color: yellow}
a: active {color:white }
